.Number__title{
    font-family: "Public Sans" ,sans-serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 64px;
    letter-spacing: -0.7142857313156128px;
    text-align: left;    
    color: #2D314D;
}