.Section__list{
    display: flex;
    gap: 30px;
}
.Section__title{
    margin-top: 20px;
    font-family: "Public Sans" ,sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: -0.4285714328289032px;
    text-align: left;    
    color: #2D314D; 
}
.Section__text{
    margin-top: 19px;
    font-family: "PublicSans" ,sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    text-align: left;    
    color: #9597A5;
    width: 255px;
    height: 112px;
}
